body {
  background: #252830;
  color: #cfd2da;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  text-shadow: none;
  background-image: none;
  color: #1997c6;

  &:hover {
    color: #106382;
    text-decoration: underline;
  }
}

blockquote {
  color: #cfd2da;
}

@import "header";

main {
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;

  &.home {
    margin-top: 0;
    max-width: 768px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  &.page {
    margin-top: 91px;
    max-width: 1024px;
    min-height: calc(100vh - 91px);
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 589px) {
      margin-top: 135px;
      min-height: calc(100vh - 135px);
    }
  }
}
